parameters:
    excludes_analyse:
        - %rootDir%/../../../tests/TestCase/KnpMenuTestCase.php
        - %rootDir%/../../../tests/TestCase/Renderer/KnpAbstractRendererTest.php
    ignoreErrors:
        - '#PHPUnit_Framework_MockObject_MockObject given#'
        - '#Class Icings\\Menu\\Renderer\\StringTemplateRenderer constructor invoked with 0 parameters, 1-2 required#'
        - '#Parameter \#1 \$matcher of class Icings\\Menu\\Renderer\\StringTemplateRenderer constructor expects Knp\\Menu\\Matcher\\MatcherInterface, string given#'
        - '#Parameter \#2 \$config of class Icings\\Menu\\Renderer\\StringTemplateRenderer constructor expects mixed\[\], string given#'
        - '#Parameter \#1 \$name of method Icings\\Menu\\View\\Helper\\MenuHelper::create\(\) expects string, int given#'
        - '#Parameter \#1 \$menu of method Icings\\Menu\\View\\Helper\\MenuHelper::render\(\) expects mixed\[\]\|Knp\\Menu\\ItemInterface\|string\|null, int given#'
