parameters:
    checkMissingIterableValueType: false
    excludes_analyse:
        - tests/TestCase/KnpMenuTestCase.php
        - tests/TestCase/Renderer/KnpAbstractRendererTest.php
    ignoreErrors:
        - '#PHPUnit\\Framework\\MockObject\\MockObject given#'
        - '#PHPUnit\\Framework\\MockObject\\MockObject::expects\(\)#'
        - '#Call to an undefined method Icings\\Menu\\Matcher\\Voter\\UrlVoter\|PHPUnit\\Framework\\MockObject\\MockObject::matchItem\(\)#'
        - '#Call to static method createRequest\(\) on an unknown class Icings\\Menu\\TestSuite\\RequestFactoryTrait#'
        - '#Call to an undefined method Icings\\Menu\\View\\Helper\\MenuHelper\|PHPUnit\\Framework\\MockObject\\MockObject::setMenuFactory\(\)#'
        - '#Call to an undefined method Icings\\Menu\\View\\Helper\\MenuHelper\|PHPUnit\\Framework\\MockObject\\MockObject::create\(\)#'
        - '#Call to an undefined method Icings\\Menu\\View\\Helper\\MenuHelper\|PHPUnit\\Framework\\MockObject\\MockObject::render\(\)#'
        - '#Call to an undefined method Icings\\Menu\\View\\Helper\\MenuHelper\|PHPUnit\\Framework\\MockObject\\MockObject::setConfig\(\)#'
        - '#Call to an undefined method Icings\\Menu\\View\\Helper\\MenuHelper\|PHPUnit\\Framework\\MockObject\\MockObject::getCurrentItem\(\)#'
        - '#Class Icings\\Menu\\Renderer\\StringTemplateRenderer constructor invoked with 0 parameters, 1-2 required#'
        - '#Parameter \#1 \$matcher of class Icings\\Menu\\Renderer\\StringTemplateRenderer constructor expects Knp\\Menu\\Matcher\\MatcherInterface, string given#'
        - '#Parameter \#2 \$config of class Icings\\Menu\\Renderer\\StringTemplateRenderer constructor expects array, string given#'
        - '#Parameter \#1 \$name of method Icings\\Menu\\View\\Helper\\MenuHelper::create\(\) expects string, int given#'
        - '#Parameter \#1 \$menu of method Icings\\Menu\\View\\Helper\\MenuHelper::render\(\) expects array\|Knp\\Menu\\ItemInterface\|string\|null, int given#'
        - '#PHPDoc tag @var for variable \$stub has invalid type Icings\\Menu\\TestSuite\\RequestFactoryTrait#'
        - '#Parameter \#1 \$input of function array_walk expects array\|object, array\<int, string\>\|false given#'
        - '#Parameter \#1 \$input of function array_filter expects array, array\<int, string\>\|false given#'
        - '#Parameter \#1 \$item of method Icings\\Menu\\View\\Helper\\MenuHelper::extractPath\(\) expects Knp\\Menu\\ItemInterface, int given#'
        - '#Parameter \#2 \$options of method Icings\\Menu\\View\\Helper\\MenuHelper::extractPath\(\) expects array, int given#'
        - '#Parameter \#1 \$menu of method Icings\\Menu\\View\\Helper\\MenuHelper::getCurrentItem\(\) expects array\|Knp\\Menu\\ItemInterface\|string\|null, int given#'
        - '#Parameter \#2 \$options of method Icings\\Menu\\View\\Helper\\MenuHelper::getCurrentItem\(\) expects array, int given#'
        - '#Cannot call method addChild\(\) on Knp\\Menu\\ItemInterface\|string#'
        - '#Cannot call method getLabel\(\) on Knp\\Menu\\ItemInterface\|string#'
        - '#Offset ''Child'' does not exist on Knp\\Menu\\ItemInterface\|string#'
        - '#Offset ''Nested'' does not exist on Knp\\Menu\\ItemInterface\|string#'
        - '#Parameter \#1 \$item of method Icings\\Menu\\View\\Helper\\MenuHelper::extractPath\(\) expects Knp\\Menu\\ItemInterface, Knp\\Menu\\ItemInterface\|string\|null given#'
